<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <p class="blog-post-list">
            {% for blog in site.blogs %}
            <div class="blog-item">

              {% if blog.draft != true %}
                <div class="blog-item">
                  <img
                    src="{{ blog.og_image | absolute_url }}"
                    alt="{{ blog.title }}"
                    class="blog-bubble"
                  />
                  <span class="blog-text">
                    <a href="{{ blog.url | replace:".html","" | prepend: site.baseurl }}" class="blog-post-title">
                      <strong>{{ blog.title }}</strong>
                    </a>
                    &mdash;
                    {{ blog.blurb }}
                    <span class="blog-post-date">{{ blog.date | date: "%-m/%-d/%y" }}</span>
                  </span>
                </div>

              {% endif %}

            {% endfor %}
            
          </p>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
