<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="news">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
          {% for item in page.items %}
          <div class="news-item">
            <ul>
              <li class="news-text">
                <strong>{{ item.date | date: "%-d %-b %y" }}</strong>
                &mdash;
                {{ item.line }}
              </li>
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
