<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="projects">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
          <p class="projects-post-list">
            {% for project in site.projects reversed %}
            <div class="projects-item">

              {% if project.draft != true %}
                  <img
                    src="{{ project.og_image | absolute_url }}"
                    alt="{{ project.title }}"
                    class="projects-bubble"
                  />
                  <span class="projects-text">
                    <a href="{{ project.url | replace:".html","" | prepend: site.baseurl }}" class="projects-post-title">
                      <strong>{{ project.title }}</strong>
                    </a>
                    &mdash;
                    {{ project.blurb }}
                    <span class="projects-post-date">{{ project.date | date: "%b, %Y" }}</span>
                  </span>

              {% endif %}
            </div>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
